.title{
    text-align: center;
    margin-top: -16%;
    margin-right: auto;
    margin-left: auto;
    color: #006A96;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
#triton{
    width: 20px;
    height: 20px;
}
#profile-button{
    margin-top: 10%;
}
h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}
/* #chooseBtn{
    width: 70%;
    height: 50%;
} */
#arrow{
    margin-top: 10%;
    /* margin-bottom: -10%; */
    /* margin-right: -45%; */
    /* margin-left: 10%; */
    font-size: 30px;
}
a{
    text-decoration:none; 
    border:none;
    color: black;
}
#user-pic{
    /* margin-left: -65%;
    margin-right: -65%; */
}
#username{
    /* margin-left: -65%; */
}