.sidebar{
    background-color:  #006A96;
    height: 100vh
}
.main-Content{
    background-color: white;
    margin: auto;
    
}


#cards{
    width: 80%;
    height: 100%;
    margin: auto;
}

/* left card css */
#profile-left{
    background-color: rgb(81, 145, 173, 50%);
}
#spacing-above-pic{
    visibility: hidden;
}
#name{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#basic-info{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#match-pic{
    width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    border-radius: 50%;
    margin:auto;
    text-align: center;

 }
/* right card css */
#profile-right{
    background-color:  rgb(81, 145, 173, 20%);  
 }
#bio, #about{
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
}
#roommates{
    font-family: 'Montserrat', sans-serif;
}

#tabLeft, #tabRight{
    font-family: 'Montserrat', sans-serif;
    
}
.title{
    text-align: center;
    margin-top: -16%;
    margin-right: auto;
    margin-left: auto;
    color: #006A96;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
#triton{
    width: 20px;
    height: 20px;
}

/* these are the footers for cards */
#roomates{
    font-family: 'Montserrat', sans-serif; 
}
#see-more{
    text-align: right;
    font-family: 'Montserrat', sans-serif;
}


/* left side matches info */
 

 #user-pic{
    width: 80px;
    height: 80px;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 30%;
    border-radius: 50%;
    /* float: left; */
 }
 #username{
     float: right;
     margin-top: 50%;
     border-color:  #006A96;
     font-family: 'Montserrat', sans-serif;
 }
#user-information{
    margin-bottom: -30%;
    margin-left: 3%;
    margin-top: 10%;
}
 #gear{
     float: right;
     /* margin-top: 30%; */
 }
 #match-name{
     margin:auto;
     text-align: center;
 }
 #match-name-btn{
     outline: none;
     background-color: #006A96;
     color: black;
     font-family: 'Montserrat', sans-serif;
 }
#match{
    background-color: #006A96;
}
#match-list{
    margin-top: 10%;
}

 /* left side msg and mtch buttons */
#nav-buttons{
    margin-top: -100%;

    
}
 #msg-btn, #mtch-btn{
    font-family: 'Montserrat', sans-serif;
 }
 

 /* choosing buttons below cards */
 #yes-button{
    /* background-color: rgba(81, 228, 88, 0.5); */
    /* color: rgba(81, 228, 88); */
    font-size: 180%;
    border-color: rgba(81, 228, 88, 0.5);
    font-family: 'Montserrat', sans-serif;
    border-radius: 50%;
    width: 60px;
    height: 60px;
 }
 #no-button{
    /* background-color: rgba(228, 86, 81, 0.5); */
    /* color:  rgb(243, 160, 157); */
    font-size: 180%;
    border-color: rgba(228, 86, 81, 0.5);
    font-family: 'Montserrat', sans-serif;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
#maybe-button{
    /* background-color: rgba(128, 116, 115, 0.637); */
    /* color:rgb(161, 139, 136); */
    font-size: 180%;
    border-color: rgba(128, 116, 115, 0.637);
    font-family: 'Montserrat', sans-serif;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#buttons{
    margin-left: 38%;
    margin-top: 5%;
    margin-bottom: -5%;
}


